---
import oberry from "../assets/oBerry.svg";
import sunbird from "../assets/sunbird.png";
import duvet from "../assets/duvet.svg";

const projects = [
  {
    title: "duvet",
    description: "Duvet is a fast, keyboard-driven file explorer that lives entirely in your terminal. Browse directories, preview files with syntax highlighting, manage bookmarks, run shell commands, and see git status — all without leaving the terminal.",
    link: "https://github.com/radeqq007/duvet",
    image: duvet,
  },
  {
    title: "oBerry",
    description:
      "oBerry is a lightweight and modern JQuery alternative designed to simplify the manipulation of HTML elements, handling user interactions and binding reactive data to HTML content.",
    link: "https://github.com/radeqq007/oBerry",
    image: oberry,
  },
  {
    title: "Sunbird",
    description:
      "Sunbird is dynamically-typed (with optional type annotations), interpreted programming language that focuses on ease of use and clarity.",
    link: "https://github.com/radeqq007/Sunbird",
    image: sunbird,
  },
];

const project = projects[0];
---

<div
  class="card bg-bg-orange-light dark:bg-bg-orange-dark rounded-4xl lg:col-start-2 lg:col-span-2 row-span-2 p-6 relative"
>
  <div id="content" class="flex flex-col gap-1 items-start w-full h-full">
    <img src={project.image.src} alt={project.title} id="image" class="max-h-40 lg:max-h-2/5 object-contain mx-auto" />
    <a id="link" target="_blank" href={project.link}>
      <h3 id="title" class="font-pacifico text-4xl">
        {project.title}
      </h2>
    </a>
    <p id="description" class="font-roboto-mono text-xl">{project.description}</p>
  </div>

  <div class="flex justify-center gap-2 absolute bottom-2 left-0 right-0">
    {
      projects.map((_, i) => (
        <button
        class="aspect-square w-5 rounded-full dark:bg-orange-accent-dark bg-orange-accent-light hover:scale-[1.2] transition-all duration-300 ease-in-out cursor-pointer dot"
        data-index={i}
        ></button>
      ))
    }
  </div>
</div>

<script is:inline define:vars={{ projects }}>
  const titleEl = document.getElementById("title");
  const descEl = document.getElementById("description");
  const linkEl = document.getElementById("link");
  const imgEl = document.getElementById("image");
  const dots = document.querySelectorAll(".dot");
  const content = document.getElementById("content");

  let cur = 0;

  function updateProject(index) {
    if (index === cur) return;

    const tl = window.gsap.timeline();
    
    tl
      .to(content, {
        opacity: 0,
        scale: 0.98,
        duration: 0.2,
        onComplete: () => {
          updateContent(projects[index]);
          cur = index;
        },
      })
      .to(content, {
        opacity: 1,
        scale: 1,
        duration: 0.2,
      });

  }

  function updateContent(project) {
    titleEl.textContent = project.title;
    descEl.textContent = project.description;
    linkEl.href = project.link;
    imgEl.src = project.image.src;
    imgEl.alt = project.title;
  }

  dots.forEach((dot) => {
    dot.addEventListener("click", () => {
      const index = dot.getAttribute("data-index");
      updateProject(index);
    });
  });

  updateProject(0);
</script>
